In [7]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [8]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """       
  SELECT sub.name, SUM(sub.sessioncost) AS totalrevenue 
  FROM (SELECT f.name, b.memid, 
      		 CASE WHEN b.memid = 0 THEN f.guestcost * b.slots
	 			  ELSE f.membercost * b.slots END AS sessioncost
      FROM Bookings AS b
	  LEFT JOIN Facilities AS f
	  ON b.facid = f.facid
	  LEFT JOIN Members AS m
	  ON b.memid = m.memid) AS sub
  GROUP BY sub.name
  HAVING totalrevenue < 1000;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

In [9]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """       
SELECT m2.surname, m2.firstname, m1.surname, m1.firstname
FROM Members AS m1 
INNER JOIN Members AS m2
ON m1.memid = m2.recommendedby
WHERE m1.memid = m2.recommendedby
ORDER BY m2.surname, m2.firstname, m1.surname, m2.firstname
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Jack', 'Smith', 'Darren')
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')

In [10]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """       
SELECT f.name, m.surname, m.firstname, SUM( b.slots ) AS usagebymember
FROM Bookings AS b
LEFT JOIN Facilities AS f ON b.facid = f.facid
LEFT JOIN Members AS m ON b.memid = m.memid
WHERE b.memid <>0
GROUP BY f.name, m.surname, m.firstname;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 'Bader', 'Florence', 27)
('Badminton Court', 'Baker', 'Anne', 30)
('Badminton Court', 'Baker', 'Timothy', 21)
('Badminton Court', 'Boothe', 'Tim', 36)
('Badminton Court', 'Butters', 'Gerald', 63)
('Badminton Court', 'Crumpet', 'Erica', 6)
('Badminton Court', 'Dare', 'Nancy', 30)
('Badminton Court', 'Farrell', 'Jemima', 21)
('Badminton Court', 'Hunt', 'John', 6)
('Badminton Court', 'Jones', 'David', 24)
('Badminton Court', 'Jones', 'Douglas', 6)
('Badminton Court', 'Mackenzie', 'Anna', 96)
('Badminton Court', 'Owen', 'Charles', 18)
('Badminton Court', 'Pinker', 'David', 21)
('Badminton Court', 'Purview', 'Millicent', 6)
('Badminton Court', 'Rownam', 'Tim', 12)
('Badminton Court', 'Sarwin', 'Ramnaresh', 21)
('Badminton Court', 'Smith', 'Darren', 432)
('Badminton Court', 'Smith', 'Jack', 36)
('Badminton Court', 'Smith', 'Tracy', 102)
('Badminton Court', 'Stibbons', 'Ponder', 48)
('Badminton Court', 'Tracy', 'Burton', 6)
('Badminton Court', 'Tupperware', 'Hyacinth', 3)
('Badminton Court', 'Worthington-Smyth', 'Henry', 15)
('Massage Room 1', 'Baker', 'Anne', 6)
('Massage Room 1', 'Baker', 'Timothy', 50)
('Massage Room 1', 'Boothe', 'Tim', 76)
('Massage Room 1', 'Butters', 'Gerald', 66)
('Massage Room 1', 'Coplin', 'Joan', 2)
('Massage Room 1', 'Crumpet', 'Erica', 4)
('Massage Room 1', 'Dare', 'Nancy', 38)
('Massage Room 1', 'Farrell', 'Jemima', 68)
('Massage Room 1', 'Genting', 'Matthew', 52)
('Massage Room 1', 'Hunt', 'John', 6)
('Massage Room 1', 'Jones', 'David', 40)
('Massage Room 1', 'Joplette', 'Janice', 24)
('Massage Room 1', 'Mackenzie', 'Anna', 2)
('Massage Room 1', 'Owen', 'Charles', 22)
('Massage Room 1', 'Pinker', 'David', 6)
('Massage Room 1', 'Rownam', 'Tim', 176)
('Massage Room 1', 'Sarwin', 'Ramnaresh', 16)
('Massage Room 1', 'Smith', 'Darren', 58)
('Massage Room 1', 'Smith', 'Jack', 54)
('Massage Room 1', 'Smith', 'Tracy', 12)
('Massage Room 1', 'Stibbons', 'Ponder', 40)
('Massage Room 1', 'Tracy', 'Burton', 62)
('Massage Room 1', 'Tupperware', 'Hyacinth', 2)
('Massage Room 1', 'Worthington-Smyth', 'Henry', 2)
('Massage Room 2', 'Bader', 'Florence', 4)
('Massage Room 2', 'Baker', 'Anne', 4)
('Massage Room 2', 'Butters', 'Gerald', 2)
('Massage Room 2', 'Coplin', 'Joan', 4)
('Massage Room 2', 'Dare', 'Nancy', 10)
('Massage Room 2', 'Genting', 'Matthew', 2)
('Massage Room 2', 'Jones', 'David', 8)
('Massage Room 2', 'Joplette', 'Janice', 4)
('Massage Room 2', 'Owen', 'Charles', 4)
('Massage Room 2', 'Rownam', 'Tim', 4)
('Massage Room 2', 'Sarwin', 'Ramnaresh', 6)
('Massage Room 2', 'Smith', 'Jack', 2)
('Pool Table', 'Bader', 'Florence', 23)
('Pool Table', 'Baker', 'Anne', 12)
('Pool Table', 'Baker', 'Timothy', 95)
('Pool Table', 'Boothe', 'Tim', 26)
('Pool Table', 'Butters', 'Gerald', 6)
('Pool Table', 'Coplin', 'Joan', 11)
('Pool Table', 'Dare', 'Nancy', 19)
('Pool Table', 'Farrell', 'David', 25)
('Pool Table', 'Farrell', 'Jemima', 1)
('Pool Table', 'Genting', 'Matthew', 18)
('Pool Table', 'Jones', 'David', 8)
('Pool Table', 'Jones', 'Douglas', 2)
('Pool Table', 'Joplette', 'Janice', 27)
('Pool Table', 'Mackenzie', 'Anna', 83)
('Pool Table', 'Owen', 'Charles', 1)
('Pool Table', 'Pinker', 'David', 9)
('Pool Table', 'Purview', 'Millicent', 5)
('Pool Table', 'Rownam', 'Tim', 282)
('Pool Table', 'Rumney', 'Henrietta', 3)
('Pool Table', 'Sarwin', 'Ramnaresh', 13)
('Pool Table', 'Smith', 'Darren', 28)
('Pool Table', 'Smith', 'Jack', 7)
('Pool Table', 'Smith', 'Tracy', 64)
('Pool Table', 'Stibbons', 'Ponder', 12)
('Pool Table', 'Tracy', 'Burton', 30)
('Pool Table', 'Tupperware', 'Hyacinth', 9)
('Pool Table', 'Worthington-Smyth', 'Henry', 37)
('Snooker Table', 'Bader', 'Florence', 66)
('Snooker Table', 'Boothe', 'Tim', 90)
('Snooker Table', 'Butters', 'Gerald', 72)
('Snooker Table', 'Coplin', 'Joan', 20)
('Snooker Table', 'Dare', 'Nancy', 46)
('Snooker Table', 'Farrell', 'David', 2)
('Snooker Table', 'Farrell', 'Jemima', 44)
('Snooker Table', 'Genting', 'Matthew', 2)
('Snooker Table', 'Jones', 'David', 4)
('Snooker Table', 'Joplette', 'Janice', 142)
('Snooker Table', 'Mackenzie', 'Anna', 14)
('Snooker Table', 'Owen', 'Charles', 44)
('Snooker Table', 'Pinker', 'David', 32)
('Snooker Table', 'Purview', 'Millicent', 2)
('Snooker Table', 'Rumney', 'Henrietta', 28)
('Snooker Table', 'Sarwin', 'Ramnaresh', 36)
('Snooker Table', 'Smith', 'Darren', 24)
('Snooker Table', 'Smith', 'Jack', 10)
('Snooker Table', 'Smith', 'Tracy', 90)
('Snooker Table', 'Stibbons', 'Ponder', 40)
('Snooker Table', 'Tracy', 'Burton', 40)
('Snooker Table', 'Tupperware', 'Hyacinth', 12)
('Squash Court', 'Bader', 'Florence', 4)
('Squash Court', 'Baker', 'Anne', 110)
('Squash Court', 'Baker', 'Timothy', 10)
('Squash Court', 'Boothe', 'Tim', 24)
('Squash Court', 'Butters', 'Gerald', 18)
('Squash Court', 'Coplin', 'Joan', 2)
('Squash Court', 'Farrell', 'David', 2)
('Squash Court', 'Farrell', 'Jemima', 16)
('Squash Court', 'Hunt', 'John', 2)
('Squash Court', 'Jones', 'David', 16)
('Squash Court', 'Jones', 'Douglas', 2)
('Squash Court', 'Joplette', 'Janice', 30)
('Squash Court', 'Mackenzie', 'Anna', 4)
('Squash Court', 'Owen', 'Charles', 14)
('Squash Court', 'Pinker', 'David', 6)
('Squash Court', 'Purview', 'Millicent', 2)
('Squash Court', 'Rumney', 'Henrietta', 4)
('Squash Court', 'Sarwin', 'Ramnaresh', 4)
('Squash Court', 'Smith', 'Darren', 30)
('Squash Court', 'Smith', 'Jack', 22)
('Squash Court', 'Smith', 'Tracy', 12)
('Squash Court', 'Stibbons', 'Ponder', 4)
('Squash Court', 'Tracy', 'Burton', 78)
('Squash Court', 'Tupperware', 'Hyacinth', 2)
('Table Tennis', 'Bader', 'Florence', 86)
('Table Tennis', 'Baker', 'Anne', 2)
('Table Tennis', 'Baker', 'Timothy', 48)
('Table Tennis', 'Boothe', 'Tim', 8)
('Table Tennis', 'Butters', 'Gerald', 2)
('Table Tennis', 'Coplin', 'Joan', 46)
('Table Tennis', 'Crumpet', 'Erica', 4)
('Table Tennis', 'Dare', 'Nancy', 10)
('Table Tennis', 'Farrell', 'Jemima', 24)
('Table Tennis', 'Genting', 'Matthew', 54)
('Table Tennis', 'Hunt', 'John', 2)
('Table Tennis', 'Jones', 'David', 22)
('Table Tennis', 'Joplette', 'Janice', 18)
('Table Tennis', 'Mackenzie', 'Anna', 32)
('Table Tennis', 'Owen', 'Charles', 50)
('Table Tennis', 'Pinker', 'David', 34)
('Table Tennis', 'Purview', 'Millicent', 14)
('Table Tennis', 'Rownam', 'Tim', 150)
('Table Tennis', 'Sarwin', 'Ramnaresh', 6)
('Table Tennis', 'Smith', 'Darren', 56)
('Table Tennis', 'Smith', 'Jack', 10)
('Table Tennis', 'Smith', 'Tracy', 56)
('Table Tennis', 'Stibbons', 'Ponder', 6)
('Table Tennis', 'Tracy', 'Burton', 48)
('Table Tennis', 'Worthington-Smyth', 'Henry', 6)
('Tennis Court 1', 'Bader', 'Florence', 3)
('Tennis Court 1', 'Baker', 'Anne', 18)
('Tennis Court 1', 'Baker', 'Timothy', 45)
('Tennis Court 1', 'Boothe', 'Tim', 12)
('Tennis Court 1', 'Butters', 'Gerald', 171)
('Tennis Court 1', 'Coplin', 'Joan', 21)
('Tennis Court 1', 'Crumpet', 'Erica', 3)
('Tennis Court 1', 'Dare', 'Nancy', 81)
('Tennis Court 1', 'Farrell', 'David', 18)
('Tennis Court 1', 'Farrell', 'Jemima', 3)
('Tennis Court 1', 'Genting', 'Matthew', 3)
('Tennis Court 1', 'Hunt', 'John', 12)
('Tennis Court 1', 'Jones', 'David', 84)
('Tennis Court 1', 'Jones', 'Douglas', 27)
('Tennis Court 1', 'Joplette', 'Janice', 57)
('Tennis Court 1', 'Owen', 'Charles', 51)
('Tennis Court 1', 'Pinker', 'David', 51)
('Tennis Court 1', 'Rownam', 'Tim', 18)
('Tennis Court 1', 'Sarwin', 'Ramnaresh', 15)
('Tennis Court 1', 'Smith', 'Jack', 75)
('Tennis Court 1', 'Smith', 'Tracy', 93)
('Tennis Court 1', 'Stibbons', 'Ponder', 3)
('Tennis Court 1', 'Tracy', 'Burton', 93)
('Tennis Court 2', 'Bader', 'Florence', 24)
('Tennis Court 2', 'Baker', 'Anne', 114)
('Tennis Court 2', 'Baker', 'Timothy', 21)
('Tennis Court 2', 'Boothe', 'Tim', 168)
('Tennis Court 2', 'Butters', 'Gerald', 9)
('Tennis Court 2', 'Dare', 'Nancy', 33)
('Tennis Court 2', 'Farrell', 'David', 3)
('Tennis Court 2', 'Farrell', 'Jemima', 3)
('Tennis Court 2', 'Hunt', 'John', 12)
('Tennis Court 2', 'Jones', 'David', 99)
('Tennis Court 2', 'Joplette', 'Janice', 24)
('Tennis Court 2', 'Owen', 'Charles', 141)
('Tennis Court 2', 'Purview', 'Millicent', 3)
('Tennis Court 2', 'Rownam', 'Tim', 18)
('Tennis Court 2', 'Rumney', 'Henrietta', 3)
('Tennis Court 2', 'Sarwin', 'Ramnaresh', 36)
('Tennis Court 2', 'Smith', 'Darren', 57)
('Tennis Court 2', 'Smith', 'Jack', 3)
('Tennis Court 2', 'Smith', 'Tracy', 6)
('Tennis Court 2', 'Stibbons', 'Ponder', 96)
('Tennis Court 2', 'Tracy', 'Burton', 9)

In [28]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """       
SELECT f.name, m.surname, m.firstname, strftime('%m', b.starttime) AS month, SUM( b.slots ) AS usagepermonth
FROM Bookings AS b
LEFT JOIN Facilities AS f ON b.facid = f.facid
LEFT JOIN Members AS m ON b.memid = m.memid
WHERE b.memid <>0
GROUP BY f.name, m.surname, m.firstname, month;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 'Bader', 'Florence', '08', 15)
('Badminton Court', 'Bader', 'Florence', '09', 12)
('Badminton Court', 'Baker', 'Anne', '08', 3)
('Badminton Court', 'Baker', 'Anne', '09', 27)
('Badminton Court', 'Baker', 'Timothy', '08', 9)
('Badminton Court', 'Baker', 'Timothy', '09', 12)
('Badminton Court', 'Boothe', 'Tim', '07', 3)
('Badminton Court', 'Boothe', 'Tim', '08', 27)
('Badminton Court', 'Boothe', 'Tim', '09', 6)
('Badminton Court', 'Butters', 'Gerald', '07', 12)
('Badminton Court', 'Butters', 'Gerald', '08', 27)
('Badminton Court', 'Butters', 'Gerald', '09', 24)
('Badminton Court', 'Crumpet', 'Erica', '09', 6)
('Badminton Court', 'Dare', 'Nancy', '07', 6)
('Badminton Court', 'Dare', 'Nancy', '08', 12)
('Badminton Court', 'Dare', 'Nancy', '09', 12)
('Badminton Court', 'Farrell', 'Jemima', '08', 9)
('Badminton Court', 'Farrell', 'Jemima', '09', 12)
('Badminton Court', 'Hunt', 'John', '09', 6)
('Badminton Court', 'Jones', 'David', '08', 12)
('Badminton Court', 'Jones', 'David', '09', 12)
('Badminton Court', 'Jones', 'Douglas', '09', 6)
('Badminton Court', 'Mackenzie', 'Anna', '08', 9)
('Badminton Court', 'Mackenzie', 'Anna', '09', 87)
('Badminton Court', 'Owen', 'Charles', '08', 12)
('Badminton Court', 'Owen', 'Charles', '09', 6)
('Badminton Court', 'Pinker', 'David', '08', 6)
('Badminton Court', 'Pinker', 'David', '09', 15)
('Badminton Court', 'Purview', 'Millicent', '09', 6)
('Badminton Court', 'Rownam', 'Tim', '07', 3)
('Badminton Court', 'Rownam', 'Tim', '08', 3)
('Badminton Court', 'Rownam', 'Tim', '09', 6)
('Badminton Court', 'Sarwin', 'Ramnaresh', '09', 21)
('Badminton Court', 'Smith', 'Darren', '07', 123)
('Badminton Court', 'Smith', 'Darren', '08', 180)
('Badminton Court', 'Smith', 'Darren', '09', 129)
('Badminton Court', 'Smith', 'Jack', '08', 18)
('Badminton Court', 'Smith', 'Jack', '09', 18)
('Badminton Court', 'Smith', 'Tracy', '07', 18)
('Badminton Court', 'Smith', 'Tracy', '08', 51)
('Badminton Court', 'Smith', 'Tracy', '09', 33)
('Badminton Court', 'Stibbons', 'Ponder', '08', 18)
('Badminton Court', 'Stibbons', 'Ponder', '09', 30)
('Badminton Court', 'Tracy', 'Burton', '08', 3)
('Badminton Court', 'Tracy', 'Burton', '09', 3)
('Badminton Court', 'Tupperware', 'Hyacinth', '09', 3)
('Badminton Court', 'Worthington-Smyth', 'Henry', '09', 15)
('Massage Room 1', 'Baker', 'Anne', '08', 2)
('Massage Room 1', 'Baker', 'Anne', '09', 4)
('Massage Room 1', 'Baker', 'Timothy', '08', 14)
('Massage Room 1', 'Baker', 'Timothy', '09', 36)
('Massage Room 1', 'Boothe', 'Tim', '07', 10)
('Massage Room 1', 'Boothe', 'Tim', '08', 34)
('Massage Room 1', 'Boothe', 'Tim', '09', 32)
('Massage Room 1', 'Butters', 'Gerald', '07', 18)
('Massage Room 1', 'Butters', 'Gerald', '08', 26)
('Massage Room 1', 'Butters', 'Gerald', '09', 22)
('Massage Room 1', 'Coplin', 'Joan', '09', 2)
('Massage Room 1', 'Crumpet', 'Erica', '09', 4)
('Massage Room 1', 'Dare', 'Nancy', '07', 6)
('Massage Room 1', 'Dare', 'Nancy', '08', 14)
('Massage Room 1', 'Dare', 'Nancy', '09', 18)
('Massage Room 1', 'Farrell', 'Jemima', '08', 20)
('Massage Room 1', 'Farrell', 'Jemima', '09', 48)
('Massage Room 1', 'Genting', 'Matthew', '08', 4)
('Massage Room 1', 'Genting', 'Matthew', '09', 48)
('Massage Room 1', 'Hunt', 'John', '09', 6)
('Massage Room 1', 'Jones', 'David', '08', 22)
('Massage Room 1', 'Jones', 'David', '09', 18)
('Massage Room 1', 'Joplette', 'Janice', '07', 10)
('Massage Room 1', 'Joplette', 'Janice', '08', 6)
('Massage Room 1', 'Joplette', 'Janice', '09', 8)
('Massage Room 1', 'Mackenzie', 'Anna', '09', 2)
('Massage Room 1', 'Owen', 'Charles', '08', 16)
('Massage Room 1', 'Owen', 'Charles', '09', 6)
('Massage Room 1', 'Pinker', 'David', '08', 2)
('Massage Room 1', 'Pinker', 'David', '09', 4)
('Massage Room 1', 'Rownam', 'Tim', '07', 80)
('Massage Room 1', 'Rownam', 'Tim', '08', 50)
('Massage Room 1', 'Rownam', 'Tim', '09', 46)
('Massage Room 1', 'Sarwin', 'Ramnaresh', '09', 16)
('Massage Room 1', 'Smith', 'Darren', '07', 28)
('Massage Room 1', 'Smith', 'Darren', '08', 18)
('Massage Room 1', 'Smith', 'Darren', '09', 12)
('Massage Room 1', 'Smith', 'Jack', '08', 22)
('Massage Room 1', 'Smith', 'Jack', '09', 32)
('Massage Room 1', 'Smith', 'Tracy', '07', 6)
('Massage Room 1', 'Smith', 'Tracy', '08', 2)
('Massage Room 1', 'Smith', 'Tracy', '09', 4)
('Massage Room 1', 'Stibbons', 'Ponder', '08', 28)
('Massage Room 1', 'Stibbons', 'Ponder', '09', 12)
('Massage Room 1', 'Tracy', 'Burton', '07', 8)
('Massage Room 1', 'Tracy', 'Burton', '08', 36)
('Massage Room 1', 'Tracy', 'Burton', '09', 18)
('Massage Room 1', 'Tupperware', 'Hyacinth', '09', 2)
('Massage Room 1', 'Worthington-Smyth', 'Henry', '09', 2)
('Massage Room 2', 'Bader', 'Florence', '09', 4)
('Massage Room 2', 'Baker', 'Anne', '08', 4)
('Massage Room 2', 'Butters', 'Gerald', '07', 2)
('Massage Room 2', 'Coplin', 'Joan', '09', 4)
('Massage Room 2', 'Dare', 'Nancy', '07', 2)
('Massage Room 2', 'Dare', 'Nancy', '08', 4)
('Massage Room 2', 'Dare', 'Nancy', '09', 4)
('Massage Room 2', 'Genting', 'Matthew', '08', 2)
('Massage Room 2', 'Jones', 'David', '08', 6)
('Massage Room 2', 'Jones', 'David', '09', 2)
('Massage Room 2', 'Joplette', 'Janice', '07', 2)
('Massage Room 2', 'Joplette', 'Janice', '08', 2)
('Massage Room 2', 'Owen', 'Charles', '09', 4)
('Massage Room 2', 'Rownam', 'Tim', '07', 2)
('Massage Room 2', 'Rownam', 'Tim', '09', 2)
('Massage Room 2', 'Sarwin', 'Ramnaresh', '09', 6)
('Massage Room 2', 'Smith', 'Jack', '09', 2)
('Pool Table', 'Bader', 'Florence', '08', 8)
('Pool Table', 'Bader', 'Florence', '09', 15)
('Pool Table', 'Baker', 'Anne', '08', 7)
('Pool Table', 'Baker', 'Anne', '09', 5)
('Pool Table', 'Baker', 'Timothy', '08', 39)
('Pool Table', 'Baker', 'Timothy', '09', 56)
('Pool Table', 'Boothe', 'Tim', '07', 1)
('Pool Table', 'Boothe', 'Tim', '08', 15)
('Pool Table', 'Boothe', 'Tim', '09', 10)
('Pool Table', 'Butters', 'Gerald', '07', 2)
('Pool Table', 'Butters', 'Gerald', '08', 1)
('Pool Table', 'Butters', 'Gerald', '09', 3)
('Pool Table', 'Coplin', 'Joan', '09', 11)
('Pool Table', 'Dare', 'Nancy', '07', 2)
('Pool Table', 'Dare', 'Nancy', '08', 10)
('Pool Table', 'Dare', 'Nancy', '09', 7)
('Pool Table', 'Farrell', 'David', '09', 25)
('Pool Table', 'Farrell', 'Jemima', '09', 1)
('Pool Table', 'Genting', 'Matthew', '08', 2)
('Pool Table', 'Genting', 'Matthew', '09', 16)
('Pool Table', 'Jones', 'David', '08', 5)
('Pool Table', 'Jones', 'David', '09', 3)
('Pool Table', 'Jones', 'Douglas', '09', 2)
('Pool Table', 'Joplette', 'Janice', '07', 10)
('Pool Table', 'Joplette', 'Janice', '08', 13)
('Pool Table', 'Joplette', 'Janice', '09', 4)
('Pool Table', 'Mackenzie', 'Anna', '08', 8)
('Pool Table', 'Mackenzie', 'Anna', '09', 75)
('Pool Table', 'Owen', 'Charles', '09', 1)
('Pool Table', 'Pinker', 'David', '08', 4)
('Pool Table', 'Pinker', 'David', '09', 5)
('Pool Table', 'Purview', 'Millicent', '09', 5)
('Pool Table', 'Rownam', 'Tim', '07', 69)
('Pool Table', 'Rownam', 'Tim', '08', 117)
('Pool Table', 'Rownam', 'Tim', '09', 96)
('Pool Table', 'Rumney', 'Henrietta', '09', 3)
('Pool Table', 'Sarwin', 'Ramnaresh', '09', 13)
('Pool Table', 'Smith', 'Darren', '07', 9)
('Pool Table', 'Smith', 'Darren', '08', 12)
('Pool Table', 'Smith', 'Darren', '09', 7)
('Pool Table', 'Smith', 'Jack', '08', 5)
('Pool Table', 'Smith', 'Jack', '09', 2)
('Pool Table', 'Smith', 'Tracy', '07', 15)
('Pool Table', 'Smith', 'Tracy', '08', 30)
('Pool Table', 'Smith', 'Tracy', '09', 19)
('Pool Table', 'Stibbons', 'Ponder', '08', 7)
('Pool Table', 'Stibbons', 'Ponder', '09', 5)
('Pool Table', 'Tracy', 'Burton', '07', 2)
('Pool Table', 'Tracy', 'Burton', '08', 20)
('Pool Table', 'Tracy', 'Burton', '09', 8)
('Pool Table', 'Tupperware', 'Hyacinth', '09', 9)
('Pool Table', 'Worthington-Smyth', 'Henry', '09', 37)
('Snooker Table', 'Bader', 'Florence', '08', 22)
('Snooker Table', 'Bader', 'Florence', '09', 44)
('Snooker Table', 'Boothe', 'Tim', '07', 8)
('Snooker Table', 'Boothe', 'Tim', '08', 48)
('Snooker Table', 'Boothe', 'Tim', '09', 34)
('Snooker Table', 'Butters', 'Gerald', '07', 18)
('Snooker Table', 'Butters', 'Gerald', '08', 30)
('Snooker Table', 'Butters', 'Gerald', '09', 24)
('Snooker Table', 'Coplin', 'Joan', '09', 20)
('Snooker Table', 'Dare', 'Nancy', '07', 4)
('Snooker Table', 'Dare', 'Nancy', '08', 20)
('Snooker Table', 'Dare', 'Nancy', '09', 22)
('Snooker Table', 'Farrell', 'David', '09', 2)
('Snooker Table', 'Farrell', 'Jemima', '08', 30)
('Snooker Table', 'Farrell', 'Jemima', '09', 14)
('Snooker Table', 'Genting', 'Matthew', '09', 2)
('Snooker Table', 'Jones', 'David', '08', 4)
('Snooker Table', 'Joplette', 'Janice', '07', 48)
('Snooker Table', 'Joplette', 'Janice', '08', 50)
('Snooker Table', 'Joplette', 'Janice', '09', 44)
('Snooker Table', 'Mackenzie', 'Anna', '09', 14)
('Snooker Table', 'Owen', 'Charles', '08', 12)
('Snooker Table', 'Owen', 'Charles', '09', 32)
('Snooker Table', 'Pinker', 'David', '08', 14)
('Snooker Table', 'Pinker', 'David', '09', 18)
('Snooker Table', 'Purview', 'Millicent', '09', 2)
('Snooker Table', 'Rumney', 'Henrietta', '09', 28)
('Snooker Table', 'Sarwin', 'Ramnaresh', '09', 36)
('Snooker Table', 'Smith', 'Darren', '07', 10)
('Snooker Table', 'Smith', 'Darren', '08', 6)
('Snooker Table', 'Smith', 'Darren', '09', 8)
('Snooker Table', 'Smith', 'Jack', '08', 4)
('Snooker Table', 'Smith', 'Jack', '09', 6)
('Snooker Table', 'Smith', 'Tracy', '07', 44)
('Snooker Table', 'Smith', 'Tracy', '08', 34)
('Snooker Table', 'Smith', 'Tracy', '09', 12)
('Snooker Table', 'Stibbons', 'Ponder', '08', 18)
('Snooker Table', 'Stibbons', 'Ponder', '09', 22)
('Snooker Table', 'Tracy', 'Burton', '07', 8)
('Snooker Table', 'Tracy', 'Burton', '08', 24)
('Snooker Table', 'Tracy', 'Burton', '09', 8)
('Snooker Table', 'Tupperware', 'Hyacinth', '09', 12)
('Squash Court', 'Bader', 'Florence', '09', 4)
('Squash Court', 'Baker', 'Anne', '08', 50)
('Squash Court', 'Baker', 'Anne', '09', 60)
('Squash Court', 'Baker', 'Timothy', '08', 4)
('Squash Court', 'Baker', 'Timothy', '09', 6)
('Squash Court', 'Boothe', 'Tim', '07', 2)
('Squash Court', 'Boothe', 'Tim', '08', 12)
('Squash Court', 'Boothe', 'Tim', '09', 10)
('Squash Court', 'Butters', 'Gerald', '07', 6)
('Squash Court', 'Butters', 'Gerald', '08', 8)
('Squash Court', 'Butters', 'Gerald', '09', 4)
('Squash Court', 'Coplin', 'Joan', '09', 2)
('Squash Court', 'Farrell', 'David', '09', 2)
('Squash Court', 'Farrell', 'Jemima', '08', 12)
('Squash Court', 'Farrell', 'Jemima', '09', 4)
('Squash Court', 'Hunt', 'John', '09', 2)
('Squash Court', 'Jones', 'David', '08', 8)
('Squash Court', 'Jones', 'David', '09', 8)
('Squash Court', 'Jones', 'Douglas', '09', 2)
('Squash Court', 'Joplette', 'Janice', '07', 14)
('Squash Court', 'Joplette', 'Janice', '08', 6)
('Squash Court', 'Joplette', 'Janice', '09', 10)
('Squash Court', 'Mackenzie', 'Anna', '09', 4)
('Squash Court', 'Owen', 'Charles', '08', 8)
('Squash Court', 'Owen', 'Charles', '09', 6)
('Squash Court', 'Pinker', 'David', '08', 2)
('Squash Court', 'Pinker', 'David', '09', 4)
('Squash Court', 'Purview', 'Millicent', '09', 2)
('Squash Court', 'Rumney', 'Henrietta', '09', 4)
('Squash Court', 'Sarwin', 'Ramnaresh', '09', 4)
('Squash Court', 'Smith', 'Darren', '07', 16)
('Squash Court', 'Smith', 'Darren', '08', 12)
('Squash Court', 'Smith', 'Darren', '09', 2)
('Squash Court', 'Smith', 'Jack', '08', 8)
('Squash Court', 'Smith', 'Jack', '09', 14)
('Squash Court', 'Smith', 'Tracy', '07', 4)
('Squash Court', 'Smith', 'Tracy', '08', 2)
('Squash Court', 'Smith', 'Tracy', '09', 6)
('Squash Court', 'Stibbons', 'Ponder', '09', 4)
('Squash Court', 'Tracy', 'Burton', '07', 8)
('Squash Court', 'Tracy', 'Burton', '08', 52)
('Squash Court', 'Tracy', 'Burton', '09', 18)
('Squash Court', 'Tupperware', 'Hyacinth', '09', 2)
('Table Tennis', 'Bader', 'Florence', '08', 26)
('Table Tennis', 'Bader', 'Florence', '09', 60)
('Table Tennis', 'Baker', 'Anne', '08', 2)
('Table Tennis', 'Baker', 'Timothy', '08', 18)
('Table Tennis', 'Baker', 'Timothy', '09', 30)
('Table Tennis', 'Boothe', 'Tim', '08', 8)
('Table Tennis', 'Butters', 'Gerald', '08', 2)
('Table Tennis', 'Coplin', 'Joan', '09', 46)
('Table Tennis', 'Crumpet', 'Erica', '09', 4)
('Table Tennis', 'Dare', 'Nancy', '08', 8)
('Table Tennis', 'Dare', 'Nancy', '09', 2)
('Table Tennis', 'Farrell', 'Jemima', '08', 8)
('Table Tennis', 'Farrell', 'Jemima', '09', 16)
('Table Tennis', 'Genting', 'Matthew', '08', 10)
('Table Tennis', 'Genting', 'Matthew', '09', 44)
('Table Tennis', 'Hunt', 'John', '09', 2)
('Table Tennis', 'Jones', 'David', '08', 14)
('Table Tennis', 'Jones', 'David', '09', 8)
('Table Tennis', 'Joplette', 'Janice', '07', 2)
('Table Tennis', 'Joplette', 'Janice', '08', 12)
('Table Tennis', 'Joplette', 'Janice', '09', 4)
('Table Tennis', 'Mackenzie', 'Anna', '09', 32)
('Table Tennis', 'Owen', 'Charles', '08', 38)
('Table Tennis', 'Owen', 'Charles', '09', 12)
('Table Tennis', 'Pinker', 'David', '08', 8)
('Table Tennis', 'Pinker', 'David', '09', 26)
('Table Tennis', 'Purview', 'Millicent', '09', 14)
('Table Tennis', 'Rownam', 'Tim', '07', 46)
('Table Tennis', 'Rownam', 'Tim', '08', 66)
('Table Tennis', 'Rownam', 'Tim', '09', 38)
('Table Tennis', 'Sarwin', 'Ramnaresh', '09', 6)
('Table Tennis', 'Smith', 'Darren', '07', 24)
('Table Tennis', 'Smith', 'Darren', '08', 18)
('Table Tennis', 'Smith', 'Darren', '09', 14)
('Table Tennis', 'Smith', 'Jack', '08', 6)
('Table Tennis', 'Smith', 'Jack', '09', 4)
('Table Tennis', 'Smith', 'Tracy', '07', 26)
('Table Tennis', 'Smith', 'Tracy', '08', 14)
('Table Tennis', 'Smith', 'Tracy', '09', 16)
('Table Tennis', 'Stibbons', 'Ponder', '08', 2)
('Table Tennis', 'Stibbons', 'Ponder', '09', 4)
('Table Tennis', 'Tracy', 'Burton', '08', 36)
('Table Tennis', 'Tracy', 'Burton', '09', 12)
('Table Tennis', 'Worthington-Smyth', 'Henry', '09', 6)
('Tennis Court 1', 'Bader', 'Florence', '09', 3)
('Tennis Court 1', 'Baker', 'Anne', '08', 9)
('Tennis Court 1', 'Baker', 'Anne', '09', 9)
('Tennis Court 1', 'Baker', 'Timothy', '08', 18)
('Tennis Court 1', 'Baker', 'Timothy', '09', 27)
('Tennis Court 1', 'Boothe', 'Tim', '08', 12)
('Tennis Court 1', 'Butters', 'Gerald', '07', 66)
('Tennis Court 1', 'Butters', 'Gerald', '08', 69)
('Tennis Court 1', 'Butters', 'Gerald', '09', 36)
('Tennis Court 1', 'Coplin', 'Joan', '09', 21)
('Tennis Court 1', 'Crumpet', 'Erica', '09', 3)
('Tennis Court 1', 'Dare', 'Nancy', '07', 18)
('Tennis Court 1', 'Dare', 'Nancy', '08', 39)
('Tennis Court 1', 'Dare', 'Nancy', '09', 24)
('Tennis Court 1', 'Farrell', 'David', '09', 18)
('Tennis Court 1', 'Farrell', 'Jemima', '09', 3)
('Tennis Court 1', 'Genting', 'Matthew', '09', 3)
('Tennis Court 1', 'Hunt', 'John', '09', 12)
('Tennis Court 1', 'Jones', 'David', '08', 24)
('Tennis Court 1', 'Jones', 'David', '09', 60)
('Tennis Court 1', 'Jones', 'Douglas', '09', 27)
('Tennis Court 1', 'Joplette', 'Janice', '07', 30)
('Tennis Court 1', 'Joplette', 'Janice', '08', 15)
('Tennis Court 1', 'Joplette', 'Janice', '09', 12)
('Tennis Court 1', 'Owen', 'Charles', '08', 30)
('Tennis Court 1', 'Owen', 'Charles', '09', 21)
('Tennis Court 1', 'Pinker', 'David', '08', 12)
('Tennis Court 1', 'Pinker', 'David', '09', 39)
('Tennis Court 1', 'Rownam', 'Tim', '07', 12)
('Tennis Court 1', 'Rownam', 'Tim', '08', 3)
('Tennis Court 1', 'Rownam', 'Tim', '09', 3)
('Tennis Court 1', 'Sarwin', 'Ramnaresh', '09', 15)
('Tennis Court 1', 'Smith', 'Jack', '08', 39)
('Tennis Court 1', 'Smith', 'Jack', '09', 36)
('Tennis Court 1', 'Smith', 'Tracy', '07', 63)
('Tennis Court 1', 'Smith', 'Tracy', '08', 18)
('Tennis Court 1', 'Smith', 'Tracy', '09', 12)
('Tennis Court 1', 'Stibbons', 'Ponder', '08', 3)
('Tennis Court 1', 'Tracy', 'Burton', '07', 12)
('Tennis Court 1', 'Tracy', 'Burton', '08', 48)
('Tennis Court 1', 'Tracy', 'Burton', '09', 33)
('Tennis Court 2', 'Bader', 'Florence', '08', 9)
('Tennis Court 2', 'Bader', 'Florence', '09', 15)
('Tennis Court 2', 'Baker', 'Anne', '08', 48)
('Tennis Court 2', 'Baker', 'Anne', '09', 66)
('Tennis Court 2', 'Baker', 'Timothy', '08', 9)
('Tennis Court 2', 'Baker', 'Timothy', '09', 12)
('Tennis Court 2', 'Boothe', 'Tim', '07', 18)
('Tennis Court 2', 'Boothe', 'Tim', '08', 81)
('Tennis Court 2', 'Boothe', 'Tim', '09', 69)
('Tennis Court 2', 'Butters', 'Gerald', '07', 3)
('Tennis Court 2', 'Butters', 'Gerald', '08', 3)
('Tennis Court 2', 'Butters', 'Gerald', '09', 3)
('Tennis Court 2', 'Dare', 'Nancy', '07', 12)
('Tennis Court 2', 'Dare', 'Nancy', '08', 21)
('Tennis Court 2', 'Farrell', 'David', '09', 3)
('Tennis Court 2', 'Farrell', 'Jemima', '08', 3)
('Tennis Court 2', 'Hunt', 'John', '09', 12)
('Tennis Court 2', 'Jones', 'David', '08', 39)
('Tennis Court 2', 'Jones', 'David', '09', 60)
('Tennis Court 2', 'Joplette', 'Janice', '07', 21)
('Tennis Court 2', 'Joplette', 'Janice', '09', 3)
('Tennis Court 2', 'Owen', 'Charles', '08', 69)
('Tennis Court 2', 'Owen', 'Charles', '09', 72)
('Tennis Court 2', 'Purview', 'Millicent', '09', 3)
('Tennis Court 2', 'Rownam', 'Tim', '07', 15)
('Tennis Court 2', 'Rownam', 'Tim', '08', 3)
('Tennis Court 2', 'Rumney', 'Henrietta', '09', 3)
('Tennis Court 2', 'Sarwin', 'Ramnaresh', '09', 36)
('Tennis Court 2', 'Smith', 'Darren', '07', 45)
('Tennis Court 2', 'Smith', 'Darren', '08', 3)
('Tennis Court 2', 'Smith', 'Darren', '09', 9)
('Tennis Court 2', 'Smith', 'Jack', '09', 3)
('Tennis Court 2', 'Smith', 'Tracy', '07', 6)
('Tennis Court 2', 'Stibbons', 'Ponder', '08', 51)
('Tennis Court 2', 'Stibbons', 'Ponder', '09', 45)
('Tennis Court 2', 'Tracy', 'Burton', '07', 3)
('Tennis Court 2', 'Tracy', 'Burton', '08', 6)